*{
    font-family: 'Roboto';
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.add-list{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 500px;
    margin: auto;
}
td{
    margin-left: 1rem;
}
.even{
    background-color: rgb(11,11,11);
    color: rgb(255,255,255);
}
.odd{
    background-color: rgb(44,44,44);
    color: rgb(255,255,255);
}

.is-done {
    text-decoration:line-through;
}
